:root {
    --primary-color: rgb(255, 212, 251);
    --secondary-color: rgb(254, 175, 246);
    --text-color: #3d2b19;
}

/* Base styles for form inputs and textarea */
form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 16px;
}

/* Styles for the textarea specifically */
form textarea {
    height: 150px;
    resize: vertical;
}

/* Base styles for buttons */
.button, form button[type="submit"], form button[type="reset"] {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--text-color);;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

/* Hover and focus styles for buttons */
.button:hover, form button[type="submit"]:hover, form button[type="reset"]:hover,
.button:focus, form button[type="submit"]:focus, form button[type="reset"]:focus {
    background-color: var(--secondary-color) /* Darker shade of pink on hover/focus */
}

@media (max-width: 768px) {
    form .button {
        width: 100%; /* Make buttons full-width on small screens */
        box-sizing: border-box; /* Ensure padding doesn't affect the overall width */
    }
}
