@font-face {
    font-family: 'NewYorkItalic';
    src: url('assets/fonts/NewYorkItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'NewYork';
    src: url('assets/fonts/NewYork.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --secondary-color: #f76b8b; /* Used */
    --text-color: #3d2b19; /* Used */
    --link-color: #6d5a70; /* Used */
}

/* .header-title {
    font-family: 'NewYorkItalic', Georgia, serif;
    font-style: italic;
} */

.header-title {
    font-family: 'NewYork', Georgia, serif;
    font-style: normal;
    font-size: 200%;
}


html {
    height: 100%;
    font-family: 'NewYork', Georgia, serif;
    color: var(--text-color)
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Pushes the footer to the bottom */
    min-height: 100vh; /* Ensures body takes at least the height of the viewport */
    margin: 0;
    padding: 0;
    background-image: url('assets/site_images/blossom1.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.content {
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

a {
    position: relative;
    font-family: 'NewYork', Georgia, serif;
    text-decoration: none; /* Remove default underline */
    color: var(--text-color); /* Set link color */
    transition: color 0.3s;
}
  
a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px; /* underline height */
    bottom: 0; /* Position at bottom of link */
    left: 0;
    background-color: var(--text-color); /* Color of underline */
    visibility: hidden;
    transform: scaleX(0);
    transition: visibility 0s, transform 0.3s ease-in-out;
}
  
a:hover::after,
a:focus::after {
    visibility: visible;
    transform: scaleX(1);
}
  
a:hover,
a:focus {
    color: var(--text-color);
}

/* Top-level list items */
ul {
  list-style-type: disc;
}

/* Nested list items */
.nested-list {
  list-style-type: circle;
}

.nested-list li {
  list-style-type: circle; /* Ensures the circle is applied to the nested list items */
}

.work-title { /* Italicizing the titles of poem or essays */
    font-family: 'NewYorkItalic', Georgia, serif;
    font-style: italic;
    color: var(--link-color);
}

.vertical-image {
    width: 100%;
    height: auto;
}

.button {
    display: inline-block;
    padding: 4px 8px;
    margin: 2px 0;
    background-color: rgb(255, 212, 251);
    color: var(--text-color);
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'NewYork';
    transition: background-color 0.3s;
}

.button:hover,
.button:focus {
    background-color: rgb(254, 175, 246);
    text-decoration: none
}

.button::after {
    display: none;
}

.site-header {
    text-align: center;
    padding: 20px 0px 10px 0px;
    background-color: rgba(255, 255, 255, 0.5);
    color: var(--text-color);
}

.site-footer {
    text-align: center;
    padding: 10px 0;
    background-color: rgba(255, 255, 255, 0.5);
    color: var(--text-color);
}

.site-header h1, .site-footer {
    margin: 0;
}

.nav-links {
    list-style: none;
    padding: 0;
    display: inline-flex;
    justify-content: center;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
}

.burger {
    display: none; /* Hidden by default */
    font-size: 175%;
    background: none;
    border: none;
    color: var(--link-color);
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: center;
}

li > p {
    padding-left: 20px;
}

/* Hide the mobile message by default */
.mobile-message {
    display: none;
}

@media (max-width: 768px) {
    li > p {
        padding-left: 8%;
    }

    .site-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 18px 0px 18px 0px;
    }

    .header-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
        display: none; /* Initially hidden */
        width: 100%;
        text-align: center;
    }

    .nav-links a {
        padding: 10px;
    }

    .nav-links.active {
        display: flex;
        margin: 15px 0px 0px 0px;
    }

    .burger {
        display: block;
        margin-top: 0px;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .content {
        padding: 20px;
    }

    .content-wrapper {
        padding: 0px;
    }

    .button {
        margin-bottom: 2%;
    }

    .mobile-message {
        display: block;
        font-style: italic;
        margin-bottom: 1em;
    }
}
