<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Lili Raynaud: {{ title }}</title>
		<meta name="description" content="{{ description }}">
		<link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
		<link rel="stylesheet" href="/style.css">
		<link rel="stylesheet" href="/formstyle.css">
		<link rel="preload" href="/assets/fonts/NewYork.woff2" as="font" type="font/woff2" crossorigin="anonymous">
		<link rel="preload" href="/assets/fonts/NewYorkItalic.woff2" as="font" type="font/woff2" crossorigin="anonymous">
	</head>

	<body>
		<header class="site-header">
			<div class="header-content">
				<h1 class="header-title">Lili Raynaud</h1>
				<button class="burger" aria-label="Toggle navigation">&#9776;</button>
			</div>
			<nav>
				<ul class="nav-links">
					<li><a href="/">Home</a></li>
					<li><a href="/portfolio">Portfolio</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
			</nav>
		</header>
		

		<div class="content-wrapper">
			<main class="content">
				{{ content }}
			</main>
		</div>

		<footer class="site-footer">
			&copy; <span id="year"></span> Lili Raynaud. All rights reserved.
		</footer>
		<script>
			document.getElementById('year').textContent = new Date().getFullYear();
		</script>

		<script>
			document.addEventListener('DOMContentLoaded', function () {
				const burger = document.querySelector('.burger');
				const navLinks = document.querySelector('.nav-links');

				burger.addEventListener('click', function() {
					navLinks.classList.toggle('active'); // Toggles visibility of nav links on small screens
				});
			});
		</script>
	</body>
</html>
