<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Lili Raynaud: {{ title }}</title>
		<link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
		<link rel="stylesheet" href="/style.css">
		<link rel="preload" href="/assets/fonts/NewYork.woff2" as="font" type="font/woff2" crossorigin="anonymous">
		<link rel="preload" href="/assets/fonts/NewYorkItalic.woff2" as="font" type="font/woff2" crossorigin="anonymous">
	</head>

	<body>
		<header class="site-header">
			<div class="header-content">
				<h1 class="header-title">Lili Raynaud</h1>
				<button class="burger" aria-label="Toggle navigation">&#9776;</button>
			</div>
			<nav>
				<ul class="nav-links">
					<li><a href="/">Home</a></li>
					<li><a href="/portfolio">Portfolio</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
			</nav>
		</header>

		<div class="content-wrapper">
			<main class="content">
				<h2>{{ title | default: "Default Title" }}</h2>
				<p>By: {{ author | default: "Lili Raynaud" }}</p>
				<p>Year: {{ date }}</p>
				<p>{{ collection }}</p>
				<p>{{ description }}</p>
				<button id="citeButton" class="button">Cite This Work</button>
				<a href="{{ pdf-location }}" download class="button">Download This Work</a>
				<br><br>
				{{ content }}
			</main>
		</div>
		
		<footer class="site-footer">
			&copy; <span id="year"></span> Lili Raynaud. All rights reserved.
		</footer>
		<script>
			document.getElementById('year').textContent = new Date().getFullYear();
		</script>

		<script>
			document.addEventListener('DOMContentLoaded', function () {
				const burger = document.querySelector('.burger');
				const navLinks = document.querySelector('.nav-links');

				burger.addEventListener('click', function() {
					navLinks.classList.toggle('active'); // Toggles visibility of nav links on small screens
				});
			});
			function getCitation() {
				const title = document.querySelector('h2').textContent.replace(/["']/g, "");
				const author = document.querySelector('p:nth-of-type(1)').textContent.replace('By: ', '');
				const date = document.querySelector('p:nth-of-type(2)').textContent.replace('Date: ', '');
				const collection = document.querySelector('p:nth-of-type(3)').textContent.replace('Collection: ', '');
				const url = window.location.href;

				// Convert date to MLA format
				const dateObj = new Date(date);
				const mlaDate = dateObj.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' });

				// Construct citation in MLA format
				let citation = `${author}. "${title}."`;
				if (collection) {
					citation += ` ${collection},`;
				}
				citation += ` ${mlaDate}. ${url}.`;

				return citation;
			}

			document.getElementById('citeButton').addEventListener('click', function() {
				const citation = getCitation();
				navigator.clipboard.writeText(citation)
				.then(() => {
					alert('Citation copied to clipboard');
				})
				.catch(err => {
					console.error('Could not copy citation: ', err);
				});
			});
		</script>

	</body>
</html>
